@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color:  rgb(33, 170, 204);
    --primary-color-darker: rgb(53, 96, 105);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

/*configuração do botão*/
form button { 
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background: var(--primary-color-darker);
}

.paragrafo-resultado, .bad, .nao-tao-bom{ 
    background: rgb(82, 219, 123);
    padding: 10px 20px;
}

.nao-tao-bom {
    background: rgb(251, 255, 18);
}

.bad {
    background: rgb(180, 72, 72);
}
